
h1 {
  font-size: 2em;
  color: #8c0f9d;
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  width: 35px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
}
td.no-border {
  border: none;
}
.laranja {
  background-color: orange;
  color: white;
  border: 1px solid #ddd;
}
.rosa {
  background-color: rgb(247, 164, 178);
  color: white;
  border: 1px solid #ddd;
}
.amarelo {
  background-color: yellow;
  color: white;
  border: 1px solid #ddd;
}
.verde {
  background-color: green;
  color: white;
  border: 1px solid #ddd;
}
.vermelho {
  background-color: red;
  color: white;
  border: 1px solid #ddd;
}
.lilás {
  background-color: rgb(236, 179, 236);
  color: white;
  border: 1px solid #ddd;
}
.azul {
  background-color: rgb(123, 176, 237);
  color: white;
  border: 1px solid #ddd;
}
.cinza {
  background-color: grey;
  color: white;
  border: 1px solid #ddd;
}
h3 {
  font-size: 18px;
  margin: 0;
  color: white;
}
h4 {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 12px;
  color: white;
}
h5 {
  margin: 0;
  font-size: 12px;
  color: white;
  text-align: left;
}